h1 {
    color: blue;
}

h2 {
    font-size: x-large;
}

.main {
    background-color: rgb(235, 228, 209);
    height: 100vh;
    flex: auto;
}

.login-container {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    max-width: 300px;
    width: 100%;
    padding: 1rem;
    border: 1px solid #B4B4B3;
    border-radius: 5px;
    background-color: #e9e9e9e6;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 7%;
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
    font-weight: bold;
    color: #26577C;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #B4B4B3;
    border-radius: 5px;
}

.customButton {
    width: 100%;
    padding: 10px;
    background-color: #26577C !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #26577C;
}



.tempBoxStyle{
    color: black;
    background-color: #616161;
    text-align: center;
    width: 200px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.base{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 6px;
    background-color: rgb(235, 228, 209);
}

.topBarStyle {
    display: flex;
    background-color: rgb(229, 86, 4);
    height: 48px;
    width: 100%;
}


/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    top: 10px;
    width: 36px;
    height: 30px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

.bm-item {
    display: inline-block;
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}